{% extends 'base.html.twig' %}
{% block title %}    {{ parent() }} | Liste des blogs{% endblock title %}
{% block body %}

    <h1>Les articles</h1>
    <table class="table table-striped ">
        <thead class="table-primary">
        <tr>
            <th>Titre</th>
            <th>Résumé</th>
            <th>Date Apparition</th>
            <th>Auteur</th>
            <th>Etat</th>
        </tr>

        </thead>
        <tbody>
        {% for article in articles %}
            {% if auteur!="" %}
                {% if article.auteur==auteur %}
                    <tr>
                        <td>{{ article.titre|title }}</td>
                        <td>{{ article.resume|title }}</td>
                        <td>{{ article.date_publication|date('d-m-Y') }}</td>
                        <td>{{ article.auteur|title }}</td>
                        <td>
                            {% if (article.date_publication|date('Y-m-d')<'-2 years'|date('Y-m-d')) %}
                                {{ 'Archivé' }}

                            {% endif %}
                        </td>
                    </tr>

                {% endif %}
            {% else %}
                <tr>
                    <td>{{ article.titre|title }}</td>
                    <td>{{ article.resume|title }}</td>
                    <td>{{ article.date_publication|date('d-m-Y') }}</td>
                    <td>{{ article.auteur|title }}</td>
                    <td>
                        {% if (article.date_publication|date('Y-m-d')<'-2 years'|date('Y-m-d')) %}
                            {{ 'Archivé' }}

                        {% endif %}
                    </td>
                </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
